.building-sideItem-container{
    background: white;
    padding: 10px;
    width: 100%;

    &.color-snow {
        color: #212b4f;
    }

    &.color-plain {
        color: #0E4428;
    }

    &.color-water {
        color: #0A0919;
    }

}