.building-sideItem-container {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background: white;

    &.color-snow {
        color: #212b4f;
    }

    &.color-plain {
        color: #0E4428;
    }

    &.color-water {
        color: #0A0919;
    }

    &:last-child {
        margin-bottom: 0;
    }

}
