{% extends 'base.html.twig' %}

{% block title %}
	Mon village
{% endblock %}

{% block body %}

	<div class="layout-bg">

		<img src="{{ asset(theme.image) }}" alt="background">

		{{include("components/sidebar.html.twig") }}

		<div class="content">
			{% for building in user.buildings %}
				{{component('buildingCard', {
					building: building
				})}}
			{% endfor %}
		</div>

	</div>
{% endblock %}
