{% extends 'base.html.twig' %}

{% block title %}
	Mon village
{% endblock %}

{% block body %}

	<div class="layout-bg">
		<img src="{{ asset(theme.image) }}" alt="background">
		{{ component('sidebar', {
			pBgColor: theme.primaryColor,
			pPseudo: pseudo
		}) }}

		<div class="content">
			{% for building in buildings %}
				{{component('buildingCard', {
					building: building
				})}}
			{% endfor %}
		</div>
	</div>
{% endblock %}
