{% extends 'base.html.twig' %}

{% block title %}
	Mon village
{% endblock %}

{% block body %}

	<div class="layout-bg">
		<img src="{{ asset(theme.image) }}" alt="background">
		<div class="sidebar {{theme.primaryColor}}"></div>
	</div>
{% endblock %}
