@import url("layout.css");
@import url("buildingCard/buildingCard.css");
@import url("buildingSideItem/buildingSideItem.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}