@import url("layout.scss");
@import url("buildingCard/buildingCard.scss");
@import url("buildingSideItem/buildingSideItem.scss");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}