#form {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.55);
    user-focus: none;
    user-select: none;
    -webkit-user-drag: none;
    z-index: -1;
  }

  h1 {
    position: relative;
    margin-bottom: 30px;
    font-family: "josefin", sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
  }

  .global-wrapper {
    position: relative;
    padding: 40px 30px 20px;
    height: fit-content;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgb(255, 255, 255);

    .form {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;

      div {
        position: relative;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        label {
          position: relative;
          font-family: "josefin", sans-serif;
          font-size: 25px;
          font-variation-settings: "wght" 400;
          color: rgb(30, 30, 30);
        }

        input, select {
          position: relative;
          height: 47px;
          width: 100%;
          margin-top: 8px;
          background: rgb(244, 244, 244);
          outline: none;
          border: none;
          border-radius: 10px;
          font-family: "josefin", sans-serif;
          font-size: 18px;
          text-indent: 15px;
          color: #303030;

          &::placeholder {
            color: rgb(150, 150, 150);
            transform: translateX(0);
            transition: transform 1.25s cubic-bezier(0.23, 1, 0.32, 1);
          }

          &:focus {

            &::placeholder {
              transform: translateX(-100%);
            }

          }

        }

        &:last-child {
          margin-bottom: 0;
        }

      }

      button {
        position: relative;
        padding: 17px 25px;
        display: flex;
        margin: 0 auto;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 10px;
        background: #303030;
        font-family: "josefin", sans-serif;
        font-size: 20px;
        color: white;
      }

    }

  }

  .text {
    position: relative;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p {
      position: relative;
      margin-right: 5px;
      font-family: "josefin", sans-serif;
      font-size: 18px;
      color: #c5c5c5;
    }

    a {
      position: relative;
      font-family: "josefin", sans-serif;
      font-size: 18px;
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-color: #c5c5c5;
      transition: text-decoration-color 0.8s cubic-bezier(0.23, 1, 0.32, 1);
      color: #c5c5c5;

      &:hover {
        text-decoration-color: rgba(197, 197, 197, 0);
      }

    }

  }

}