#game {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;

  .theme {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    user-select: none;
    -webkit-user-drag: none;
    user-focus: none;
  }

  .sidebar {
    position: absolute;
    padding: 25px 20px 20px;
    top: 50%;
    left: 17px;
    height: 97.5%;
    width: 23%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    background: white;
    transform: translateY(-50%);

    .top-part {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .info {
        position: relative;
        margin-bottom: 15px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: "josefin", sans-serif;
        font-size: 28px;
        font-variation-settings: "wght" 450;
        color: #303030;

        span {
          position: relative;
          margin-right: 12px;
          padding: 11px 11px 9px;
          border-radius: 5px;
          background: #303030;
          font-size: 22px;
          font-variation-settings: "wght" 400;
          color: white;
        }

        &:last-child {
          margin-bottom: 0;
        }

      }

      .separator {
        position: relative;
        margin: 10px 0 40px;
        height: 2px;
        width: 100%;
        border-radius: 30px;
        background: rgba(48, 48, 48, 0.5);
      }

      .no-building {
        position: relative;
        font-family: "josefin", sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: rgba(48, 48, 48, 0.8);
      }

    }

    .bottom-part {
      position: relative;
      padding: 15px;
      background: #303030;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-radius: 15px;

      .email {
        position: relative;
        margin-bottom: 10px;
        font-family: "josefin", sans-serif;
        font-size: 19px;
        font-weight: 400;
        color: white;
      }

      a {
        position: relative;
        font-family: "josefin", sans-serif;
        font-size: 17px;
        text-decoration: underline;
        text-underline-offset: 3px;
        text-decoration-color: white;
        transition: text-decoration-color 0.8s cubic-bezier(0.23, 1, 0.32, 1);
        color: white;

        &:hover {
          text-decoration-color: rgba(197, 197, 197, 0);
        }

      }

    }

  }

  .content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% - 23% - 17px);
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .coins {
      position: absolute;
      top: 25px;
      right: 25px;
      padding: 12px;
      border-radius: 10px;
      z-index: 5;
      background: white;

      img {
        position: relative;
        height: 50px;
        width: auto;
      }

    }

  }

}