<div style="color: black;" class="building-sideItem-container ">

	<h3>{{building.name}}</h3>
	<h4>Cout de construction :
		{{building.currentState.upgradeCost}}</h4>
	<a>Cliquer pour construire</a>

</div>
